/node_modules/
/node_modules/*
/doc/html/*
/doc/html/
/coverage/*
/coverage/
tests/*
tests/
doc/
doc/*
/github/*
.netlify.toml
.eslintrc.js
.github/
.idea/
.babelrc
jest.config.js
webpack.config.js
package-lock.json
